<a href="https://colab.research.google.com/github/f-ssemwanga/data_science-sessions/blob/main/carPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [39]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, PolynomialFeatures, LabelEncoder

In [40]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [41]:
#loading data
####Essential manual checks####
#missing values
#convert categorical values into numeric
#cehck non type values and remove them
#remove empty rows

data = pd.read_csv('/content/drive/MyDrive/HousePriceData/AdvertData.csv')
data

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
0,2.020000e+14,0,NaN,Grey,Volvo,XC90,NEW,NaN,73970,SUV,False,Petrol Plug-in Hybrid
1,2.020000e+14,108230,61.0,Blue,Jaguar,XF,USED,2011.0,7000,Saloon,False,Diesel
2,2.020000e+14,7800,17.0,Grey,SKODA,Yeti,USED,2017.0,14000,SUV,False,Petrol
3,2.020000e+14,45000,16.0,Brown,Vauxhall,Mokka,USED,2016.0,7995,Hatchback,False,Diesel
4,2.020000e+14,64000,64.0,Grey,Land Rover,Range Rover Sport,USED,2015.0,26995,SUV,False,Diesel
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.020000e+14,122675,15.0,Grey,Mercedes-Benz,C Class,USED,2015.0,13200,Saloon,False,Diesel Hybrid
1996,2.020000e+14,70000,17.0,Black,Vauxhall,Insignia,USED,2017.0,10989,Hatchback,False,Diesel
1997,2.020000e+14,65303,53.0,Silver,Porsche,Boxster,USED,2003.0,8750,Convertible,False,Petrol
1998,2.020000e+14,72178,64.0,Brown,Vauxhall,Zafira Tourer,USED,2014.0,6600,MPV,False,Diesel
1999,2.020000e+14,81000,63.0,White,Dacia,Sandero,USED,2013.0,2499,Hatchback,False,Petrol

In [42]:
##Brodatder feature
## if the number of rows do not match it means there are missing values
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   public_reference       2000 non-null   float64
 1   mileage                2000 non-null   int64
 2   reg_code               1847 non-null   float64
 3   standard_colour        1980 non-null   object
 4   standard_make          2000 non-null   object
 5   standard_model         2000 non-null   object
 6   vehicle_condition      2000 non-null   object
 7   year_of_registration   1860 non-null   float64
 8   price                  2000 non-null   int64
 9   body_type              1995 non-null   object
 10  crossover_car_and_van  2000 non-null   bool
 11  fuel_type              1999 non-null   object
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 174.0+ KB

In [43]:
#Perform data preprocessing steps 
##Replacing the missing values by median of the Red_code column and Year of Registration

#go to columns with missing data and fill missing with media  - for numerical columns
data['reg_code'] = data['reg_code'].fillna(data['reg_code'].median())
data['year_of_registration'] = data['year_of_registration'].fillna(data['year_of_registration'].median())
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   public_reference       2000 non-null   float64
 1   mileage                2000 non-null   int64
 2   reg_code               2000 non-null   float64
 3   standard_colour        1980 non-null   object
 4   standard_make          2000 non-null   object
 5   standard_model         2000 non-null   object
 6   vehicle_condition      2000 non-null   object
 7   year_of_registration   2000 non-null   float64
 8   price                  2000 non-null   int64
 9   body_type              1995 non-null   object
 10  crossover_car_and_van  2000 non-null   bool
 11  fuel_type              1999 non-null   object
dtypes: bool(1), float64(3), int64(2), object(6)
memory usage: 174.0+ KB

In [44]:
###remove rows having numeric values in categorical columns - perform this step before Label encoder
#the tilda refers to just this column
dfnew = data[~data['standard_model'].str.contains('\d+')]
dfnew

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
1,2.020000e+14,108230,61.0,Blue,Jaguar,XF,USED,2011.0,7000,Saloon,False,Diesel
2,2.020000e+14,7800,17.0,Grey,SKODA,Yeti,USED,2017.0,14000,SUV,False,Petrol
3,2.020000e+14,45000,16.0,Brown,Vauxhall,Mokka,USED,2016.0,7995,Hatchback,False,Diesel
4,2.020000e+14,64000,64.0,Grey,Land Rover,Range Rover Sport,USED,2015.0,26995,SUV,False,Diesel
6,2.020000e+14,24075,17.0,Red,Vauxhall,Viva,USED,2017.0,5861,Hatchback,False,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.020000e+14,122675,15.0,Grey,Mercedes-Benz,C Class,USED,2015.0,13200,Saloon,False,Diesel Hybrid
1996,2.020000e+14,70000,17.0,Black,Vauxhall,Insignia,USED,2017.0,10989,Hatchback,False,Diesel
1997,2.020000e+14,65303,53.0,Silver,Porsche,Boxster,USED,2003.0,8750,Convertible,False,Petrol
1998,2.020000e+14,72178,64.0,Brown,Vauxhall,Zafira Tourer,USED,2014.0,6600,MPV,False,Diesel
1999,2.020000e+14,81000,63.0,White,Dacia,Sandero,USED,2013.0,2499,Hatchback,False,Petrol

In [45]:
##remove empty row
df_final = dfnew.dropna(how="any", axis =0)
df_final

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
1,2.020000e+14,108230,61.0,Blue,Jaguar,XF,USED,2011.0,7000,Saloon,False,Diesel
2,2.020000e+14,7800,17.0,Grey,SKODA,Yeti,USED,2017.0,14000,SUV,False,Petrol
3,2.020000e+14,45000,16.0,Brown,Vauxhall,Mokka,USED,2016.0,7995,Hatchback,False,Diesel
4,2.020000e+14,64000,64.0,Grey,Land Rover,Range Rover Sport,USED,2015.0,26995,SUV,False,Diesel
6,2.020000e+14,24075,17.0,Red,Vauxhall,Viva,USED,2017.0,5861,Hatchback,False,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.020000e+14,122675,15.0,Grey,Mercedes-Benz,C Class,USED,2015.0,13200,Saloon,False,Diesel Hybrid
1996,2.020000e+14,70000,17.0,Black,Vauxhall,Insignia,USED,2017.0,10989,Hatchback,False,Diesel
1997,2.020000e+14,65303,53.0,Silver,Porsche,Boxster,USED,2003.0,8750,Convertible,False,Petrol
1998,2.020000e+14,72178,64.0,Brown,Vauxhall,Zafira Tourer,USED,2014.0,6600,MPV,False,Diesel
1999,2.020000e+14,81000,63.0,White,Dacia,Sandero,USED,2013.0,2499,Hatchback,False,Petrol

In [46]:
##Handling erraoneous numeric values  i.e. take values greater than 0
df_final = df_final[(df_final['mileage'] > 0) & (df_final['price'] > 0) & (df_final['year_of_registration'] > 0)]
df_final

,public_reference,mileage,reg_code,standard_colour,standard_make,standard_model,vehicle_condition,year_of_registration,price,body_type,crossover_car_and_van,fuel_type
1,2.020000e+14,108230,61.0,Blue,Jaguar,XF,USED,2011.0,7000,Saloon,False,Diesel
2,2.020000e+14,7800,17.0,Grey,SKODA,Yeti,USED,2017.0,14000,SUV,False,Petrol
3,2.020000e+14,45000,16.0,Brown,Vauxhall,Mokka,USED,2016.0,7995,Hatchback,False,Diesel
4,2.020000e+14,64000,64.0,Grey,Land Rover,Range Rover Sport,USED,2015.0,26995,SUV,False,Diesel
6,2.020000e+14,24075,17.0,Red,Vauxhall,Viva,USED,2017.0,5861,Hatchback,False,Petrol
...,...,...,...,...,...,...,...,...,...,...,...,...
1995,2.020000e+14,122675,15.0,Grey,Mercedes-Benz,C Class,USED,2015.0,13200,Saloon,False,Diesel Hybrid
1996,2.020000e+14,70000,17.0,Black,Vauxhall,Insignia,USED,2017.0,10989,Hatchback,False,Diesel
1997,2.020000e+14,65303,53.0,Silver,Porsche,Boxster,USED,2003.0,8750,Convertible,False,Petrol
1998,2.020000e+14,72178,64.0,Brown,Vauxhall,Zafira Tourer,USED,2014.0,6600,MPV,False,Diesel
1999,2.020000e+14,81000,63.0,White,Dacia,Sandero,USED,2013.0,2499,Hatchback,False,Petrol

In [47]:
###preprocessing for categorical values by converting them using OneHotEncoder - label encoder
le = LabelEncoder()
data['standard_colour'] = le.fit_transform(data['standard_colour'])
data['fuel_type'] = le.fit_transform(data['fuel_type'])
data['body_type'] = le.fit_transform(data['body_type'])
data['crossover_car_and_van'] = le.fit_transform(data['crossover_car_and_van'])
data['standard_model'] = le.fit_transform(data['standard_model'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2000 entries, 0 to 1999
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   public_reference       2000 non-null   float64
 1   mileage                2000 non-null   int64
 2   reg_code               2000 non-null   float64
 3   standard_colour        2000 non-null   int64
 4   standard_make          2000 non-null   object
 5   standard_model         2000 non-null   int64
 6   vehicle_condition      2000 non-null   object
 7   year_of_registration   2000 non-null   float64
 8   price                  2000 non-null   int64
 9   body_type              2000 non-null   int64
 10  crossover_car_and_van  2000 non-null   int64
 11  fuel_type              2000 non-null   int64
dtypes: float64(3), int64(7), object(2)
memory usage: 187.6+ KB